body {
    background: rgb(151, 37, 151);
}

.container {
    width: 100%;
}

.jumbotron {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    background: rgb(245, 63, 8);
    color: rgb(31, 216, 198);
    border-right: dashed;
    border-left: dashed;
    border-bottom: dashed;
    border-color: rgb(31, 216, 198);
}

h1 {
    font-size: 60px;
}

.panel-title {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: rgb(31, 216, 198);
    border: dashed;
    font-size: 43px;
}

.panel-first {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: rgb(31, 216, 198);
}

#wordGuess {
    font-weight: bold;
    font-size: 60px;
}

.panel-body {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: rgb(31, 216, 198);
    border: dashed;
    border-color: rgb(31, 216, 198);
    font-size: 35px;
}